@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --cor-menta: #96CFBE;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: var(--cor-menta);
}

nav a {
    font-size: 1.2rem;
    font-weight: 900;
}