@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --cor-menta: #96CFBE;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: var(--cor-menta);
}

nav a {
    font-size: 1.2rem;
    margin: 5px 10px;

    text-decoration: none;
    color: white;
}

nav a:hover {
    color: #eee;
}


footer {
    background-color: var(--cor-menta);
    height: 96px;

    box-shadow: -4px 15px .5rem 1rem rgba(0,0,0,.15)
}