.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

fieldset {
    padding: 1rem;
    border: 0.5 solid gray;
    background-color: #eee;
    width: 50%;
}

legend {
    background-color: #555;
    color: #fff;
    padding: 3px 8px;
}