@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --cor-menta: #96CFBE;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100vh;
}

body {
    background-color: #eee;
}

/* Cabeçalho da página */
nav {
    background-color: var(--cor-menta);
}
.logo {
    transition: all .2s ease-in-out;
}

.logo:hover {
    transform: scale(1.2);
}

.link {
    font-size: 1.2rem;
    padding: 5px 10px;

    text-decoration: none;
    color: white;
    
}

.link:hover {
    color: #eee;
}

/* Conteúdo principal */
main {
    display: flex;
}

/* Home */
.divImagem {
    
    width: 1900px;
}

.imagemFundo {
    margin-top: 0px;
    margin-left: 0px;
    width: 1900px;
    height: 500px;
}

.divSection {
    
}
/* Galeria de imagens */
.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 2;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%; 
    position: absolute;
    left: 25%;
}
.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; 
}

.img-fluid{
    border-radius: 3px;
    box-shadow: 0 0 5px grey;
}

.galeria-title{
    background-color: #688785;
    box-shadow: 0 0 10px #7abba8;
    border-radius: 7px;
    color: #fff;
    padding: 3px 4px;
    /*color: #72AFA9;*/
    height: 50px;
    margin-bottom: 15px;
    margin-right: 5px;
}


/* Rodapé da página */
footer {
    border-top: 2px solid var(--cor-menta);
    height: 72px;
}