@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --cor-menta: #96CFBE;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100vh;
}

body {
    background-color: #eee;
}

/* Cabeçalho da página */
nav {
    background-color: var(--cor-menta);
}
.logo {
    transition: all .2s ease-in-out;
}

.logo:hover {
    transform: scale(1.2);
}

.link {
    font-size: 1.2rem;
    padding: 5px 10px;

    text-decoration: none;
    color: white;
    
}

.link:hover {
    color: #eee;
}

/* Home */
.divImagem {
    height: 550px;
    background: url('../assets/corridaHome.jpg');
    background-size: cover;
}

.divSection h2 {
    background-color: #555;
    color: #fff;
    text-align: center;
    font-size: 2.5rem;
}

.divSection p, .divSection ul {
    font-size: 1.4rem;
    text-align: justify;
    padding: 20px;
    list-style: none;
}

.divSection li {
    margin-bottom: 10px;
}

.nomeClinica {
    background-color: var(--cor-menta);
    color: white;
    padding: 10px;
    margin-bottom: 15px;
}



@media screen and (max-width: 998px) {
    .divImagem {
        display: none;
    }
}

@media screen and (max-width: 598px) {
    .divSection p, .divSection ul {
        font-size: 1rem;
    }
}

/* Galeria de imagens */

.pics {
    padding: 0px;
    margin:0;
}

.pics img{
    width: 300px;
    height: 150px;
}

.galeria-title{
    background-color: #555;
    color: white;
    
    padding: 5px;
    margin-bottom: 5px;
}

/* Cadastra Endereço */
.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.address-img img {
    width: 512px;
    height: 512px;
}

fieldset {
    padding: 1rem;
    border: 0.5 solid gray;
    background-color: #eee;
    width: 50%;
}

legend {
    background-color: #555;
    color: #fff;
    padding: 3px 8px;
}

@media screen and (max-width: 996px) {
    .address-img {
        display: none;
    }

    fieldset {
        width: 100%;
    }
}