@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --cor-menta: #96CFBE;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100vh;
}

body {
    background-color: #eee;
}

/* Cabeçalho da página */
nav {
    background-color: var(--cor-menta);
}

.logo {
    transition: all .2s ease-in-out;
}

.logo:hover {
    transform: scale(1.2);
}

.link {
    font-size: 1.2rem;
    padding: 5px 10px;

    text-decoration: none;
    color: white;
    
}

.link:hover {
    color: #eee;
    border-bottom: 1px solid #eee;
}

/* Conteúdo principal */

/* Rodapé da página */
footer {
    border-top: 2px solid var(--cor-menta);
    height: 72px;
}