@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --cor-menta: #96CFBE;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    position: relative;
}

html, body {
    height: 100vh;
}

body {
    background-color: #eee;
}

/* Cabeçalho da página */
nav {
    background-color: var(--cor-menta);
}

li {
    list-style: none;
}

a {
    font-size: 1.5rem;
}

.link {
    padding: 5px 10px;

    text-decoration: none;
    color: white;
    
}

.link:hover {
    color: #eee;
}

.dropdown-item:active {
    background-color: #ccc;
}

/* Rodapé da página */
footer {
    height: 100px;
    background-color: var(--cor-menta);
}

/* Formulários */
fieldset {
    padding: 1rem;
    border: 0.5 solid gray;
    background-color: #eee;
}

legend {
    background-color: #555;
    color: #fff;
    padding: 3px 8px;
}